<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styless.css">
    <link rel="stylesheet" href="https://use.typekit.net/wmb0ekn.css">
    <title>EXLLDM | Conoce La Verdad</title>
</head>
<body>
    <div class="wrapper">
    <header>
        <div class="index-menu menu-index">
            <a href="#news-section">NOTICIAS</a>
            <a href="#resources">RECURSOS</a>
            <a href="/testimonios">TESTIMONIOS</a>
        </div>
    </header>
    <div class="ya-no-creo">YA NO CREO EN LA ELECCION</div>
    <img id="sinking" src="/images/seunde.png" alt="building sinking">
</div>
<div id="reflection" class="thoguht-of-the-day-paragraph">
    <img class="icon" src="/images/blog.png" alt="A blog icon">
    <h1>REFLEXION DEL DIA</h1>
    <h3>{{title}}</h3>
    <img class="quotation-mark-icon" src="/images/quotation-mark.png" alt="quotation mark icon">
    <p class="parragraph thoguht-of-the-day">{{thoughtOfTheDay}}</p>
    <div class="thoguht-of-the-day-paragraph read-more">Read More...</div>
</div>
<div id="news-section" class="news-section">
<h1 id="noticas-wrapper">NOTICIAS</h1>
<img src="/images/building.jpg" alt="news article image">
<h3>{{newsTitle}}</h3>
<p class="parragraph news-article">{{newsArticle}}</p>
</div>
<div id="resources" class="resources-count-setion">
<div class="rc-div rc-r">
<img src="/images/book.png" alt="book icon">
<h3 class="h3">RECURSOS</h3>
<a href="#">placeholder</a>
<a href="#">placeholder</a>
<a href="#">Placeholder</a>
</div>
<div class="rc-div rc-c">
    <div id="count-circle">{{count}}</div>
    <h3 class="h3">SOY EXLLDM</h3>
    <p class="parragraph">Unete a la cuenta!</p>
    <div id="count-trigger">Cuentame</div>
</div>
</div>
{{>footer}}
</body>
</html>